<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/bootstrap-4.3.1.css" rel="stylesheet">
</head>

<body>

	<nav class="navbar navbar-light bg-dark justify-content-between">

		<a class="navbar-brand text-light" href="/">YTB Scmnt Detect.ml</a>
		<div class="d-flex flex-row">
			<a href="https://sites.google.com/diu.edu.bd/abdullahibnaharun/" class="p-2 text-light">Devloper.</a>
		</div>

	</nav>

	<div class="card justify-content-between container mt-5" align="center">
		<div class="left">
			<header>
				<div class="headercontainer">
					<h2 class="text-center mt-2">Youtube Spam Comment Detector</h2>
				</div>
			</header>
			<div class="card border-0">
				<div class="ml-container">
					<div class="card-header align-top">
						<form action="/ypredict" method="POST">
					</div>
					<textarea name="comment" rows="12" cols="50" placeholder="Enter Your Text Here"
						class="text-justify">
						{% if comment %}
						{{comment}}
						{% endif %}
					</textarea>
					<br/>
					<input type="submit" class="btn btn-success" value="Predict">
					</form>
					<a class="btn btn-light border border-info" href="/">Reload</a>
				</div>
			</div>
		</div>

		<div class="right">
			<header>

				<div class="headercontainer">
					<h2 class="text-center">Results for Comment : </h2>
				</div>

			</header>
			<br>
			<p style="color:rgba(0, 0, 104, 0.733);font-size:30px;text-align: center;"><b></b></p>
			<div class="results">

				{% if prediction == 1%}
				<div class="alert alert-danger" role="alert">
					<h2 style="color:red;">Spam Comment.</h2>
				</div>
				{% elif prediction == 0%}
				<div class="alert alert-warning" role="alert">
					<h2 style="color: forestgreen;">Not a Spam Comment.</h2>
				</div>
				{% endif %}

			</div>
		</div>
	</div>


	<footer class="text-center bg-dark text-light fixed-bottom ">
		<div class="footer-container mt-2">
			<div class="row">
				<div class="col-12 ">
					<p>Copyright © Md. Abdullah Ibna Harun. All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

</body>

</html>